Source: nvidia-persistenced
Section: contrib/x11
Priority: extra
Maintainer: Alberto Milone <alberto.milone@canonical.com>
Build-Depends: debhelper (>= 8.0.0), m4
Standards-Version: 3.9.2
Homepage: ftp://download.nvidia.com/XFree86/nvidia-persistenced
Vcs-Git: git://github.com/tseliot/nvidia-persistenced.git
Vcs-Browser: https://github.com/tseliot/nvidia-persistenced.git

Package: nvidia-persistenced
Architecture: i386 amd64 lpia
Depends: adduser, ${shlibs:Depends}, ${misc:Depends}
Description: Daemon to set persistence mode to NVIDIA GPUs
 nvidia-persistenced is a daemon to set persistence mode
 to NVIDIA GPUs. When persistence mode is enabled the
 NVIDIA driver remains loaded even when no active clients,
 such as X11 or nvidia-smi, exist. This minimizes the
 driver load latency associated with running dependent
 apps, such as CUDA programs.
