#!/usr/bin/make -f
# -*- makefile -*-
# Copyright (C) 2013 Canonical Ltd.
#
# Author: Alberto Milone <alberto.milone@canonical.com>

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

PKG_version := $(shell dpkg-parsechangelog | awk -F' ' '/^Version:/ {print $$2}' | awk -F- '{print $$1}')
PKG_version := $(shell echo $(PKG_version) | sed s/.*\.really\.//g)
PKG_source  := $(shell dpkg-parsechangelog | sed -n 's/^Source: //p')
PKG_name    := nvidia-persistenced
PKG_user    := nvidia-persistenced
tmp_dir     := _out
url         := "ftp://download.nvidia.com/XFree86/nvidia-persistenced/$(PKG_name)-$(PKG_version).tar.bz2"

.PHONY: download-sources
download-sources:
	# Downloads the source tarball
	wget $(url) -O ../$(PKG_source)_$(PKG_version).orig.tar.bz2

clean:
	rm -Rf $(tmp_dir)
	dh clean

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/$(PKG_name) PREFIX=/usr install

	mkdir -p $(CURDIR)/debian/$(PKG_name)/etc/init
	sed s/__USER__/$(PKG_user)/g $(CURDIR)/init/upstart/nvidia-persistenced.conf.template \
              > $(CURDIR)/debian/$(PKG_name)/etc/init/nvidia-persistenced.conf

	# Set the correct permissions
	chmod 0755 $(CURDIR)/debian/$(PKG_name)/usr/bin/nvidia-persistenced

override_dh_installinit:
	dh_installinit --onlyscripts

%:
	dh $@ 
